.logo{
   color: rgb(255, 255, 255);
   font-size: 120%;
}

.logo-image-expanded{
    width: 15%;
    margin: 5%;
    padding: 2%;
    background-color: rgb(59, 56, 56);
    border-radius: 10%;
}

.logo-image{
    width: 30%;
    padding: 2%;
    background-color: rgb(59, 56, 56);
    border-radius: 10%;
}

.sidenav{
    border-radius: 5%;
}